body {
    background-color: azure;
}

button {
    font-weight: bolder;
}

i {
    transform: scale(.55);
}

label {
    font-size: larger;
    font-weight: bolder;
}
input {
    font-weight: bolder;
}

option {
    font-weight: bolder;
}

.form-select {
    font-weight: bolder;
}
.nes-input {
    max-height: 2.5rem;
}

#title {
    font-size: 3.5rem;
    font-weight: bolder;
}